#home {
    background-image: url('/images/goodhealth.jpg');
    background-size: auto;
    background-position: center;
    ;
}
#login {
    background-image: url('/images/goodhealth.jpg');
    background-size: auto;
    background-position: center;
    ;
}
#registration {
    background-image: url('/images/goodhealth.jpg');
    background-size: auto;
    background-position: center;
    ;
}